.hide
{
  display: none;
}

.chatarea
{
    width: 500px;
    height: 700px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;

    .msgElements
    {
        display: relative;
        position: relative;
    }
}

.chatbox
{
    margin-left: 10px;
    width: 465px;
}
